.prose a {

  transition-property: all;

  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

  transition-duration: 150ms;
}

.prose .anchor {

  visibility: hidden;

  position: absolute;

  margin-left: -1em;
  padding-right: 0.5em;
  width: 80%;
  max-width: 700px;
  cursor: pointer;
}

.anchor:hover {

  visibility: visible;

  text-decoration: none;
}

.prose a {

  transition-property: all;

  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

  transition-duration: 150ms;
}

.prose .anchor:after {

  color: var(--color-gray-300);
}

.dark .prose .anchor:after {

  color: var(--color-gray-700);
}

.prose .anchor:after {
  content: '#';
}

.prose *:hover > .anchor {

  visibility: visible;

  text-decoration: none;
}

.prose pre {

  border-width: 1px;

  border-color: var(--color-gray-200);

  background-color: var(--color-gray-100);
}

.dark .prose pre {

  border-color: var(--color-gray-700);

  background-color: var(--color-gray-900);
}

.prose code {

  border-radius: 0.5rem;

  border-width: 1px;

  border-color: var(--color-gray-100);

  background-color: var(--color-gray-100);

  padding-left: 0.25rem;

  padding-right: 0.25rem;

  padding-top: 0.125rem;

  padding-bottom: 0.125rem;

  color: var(--color-gray-800);
}

.dark .prose code {

  border-color: var(--color-gray-800);

  background-color: var(--color-gray-900);

  color: var(--color-gray-200);
}

.prose pre code {

  color: var(--color-gray-800);
}

.dark .prose pre code {

  color: var(--color-gray-200);
}

.prose img {
  /* Don't apply styles to next/image */
  margin: 0px;
}

.prose > :first-child {
  /* Override removing top margin, causing layout shift */
  margin-top: 1.25em !important;
  margin-bottom: 1.25em !important;
}
