# Mocked: Unnecessary (any value can be used)
# Technically we have a fallback in development so this doesn't even need to be set
SESSION_SECRET=anything_works_here

# If you're running the redis db from docker-compose then this is the URL you should use
REDIS_URL="redis://:alex_rocks@localhost:6379"