.prose {
  max-width: 100%;
}
.prose .anchor {
  @apply absolute invisible;

  margin-left: -1em;
  padding-right: 0.5em;
  width: 80%;
  max-width: 700px;
  cursor: pointer;
}

.anchor:hover {
  @apply no-underline visible;
}

.prose a {
  @apply transition-all;
  word-break: break-word;
}

.prose .anchor:after {
  @apply text-gray-300 dark:text-gray-700;
  content: '#';
}

.prose *:hover > .anchor {
  @apply no-underline visible;
}

.prose pre {
  @apply bg-gray-100 dark:bg-gray-900 border border-gray-200 dark:border-gray-700;
}

.prose code {
  @apply px-1 py-0.5 dark:text-gray-200 text-gray-800 bg-gray-100 dark:bg-gray-900 border border-gray-100 dark:border-gray-800 rounded-lg;
}

.prose pre code {
  @apply dark:text-gray-200 text-gray-800 whitespace-pre-wrap;
}

.prose > :first-child {
  /* Override removing top margin, causing layout shift */
  margin-top: 1.25em !important;
  margin-bottom: 1.25em !important;
}
