@tailwind base;
@tailwind utilities;
@tailwind components;

@font-face {
  font-family: 'IBM Plex Sans';
  font-style: normal;
  font-weight: 100 900;
  font-display: optional;
  src: url(/fonts/ibm-plex-sans-var.woff2) format('woff2');
}

@font-face {
  font-family: 'IBM Plex Sans';
  font-style: italic;
  font-weight: 100 900;
  font-display: optional;
  src: url(/fonts/ibm-plex-sans-var-italic.woff2) format('woff2');
}

@layer utilities {
  .bg-primary {
    @apply bg-gray-100 dark:bg-gray-900;
  }

  .bg-secondary {
    @apply dark:bg-gray-800 bg-white;
  }

  .bg-inverse {
    @apply bg-black dark:bg-white;
  }

  .text-primary {
    @apply text-black dark:text-white;
  }

  .text-secondary {
    @apply text-gray-700 dark:text-gray-200;
  }

  .text-inverse {
    @apply text-white dark:text-black;
  }
}
